:root.theme-dark {
  --body-bg-color: #000028;
  --body-bg-image: url(../images/cover-image-dark.png);
  --main-color: #F1B2CE;
  --title-decor-color: #000028;
  --header-footer-title-color: #DB00FF;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --button-border-color-hover: #ff007066;
  --button-border-color-focus: #ff0070;
  --button-color: #ff0070;
  --active-button-border-color: #ff0070;
  --link-states-color: #F1B2CE;
  --decorative-corner-color: #ff0070;
}


.theme-dark .header__rec-indicator {
  display: flex;
}

.theme-light .header__rec-indicator {
  display: none;
}